.display{
    display: none;
}

.background-black {
    position: absolute;
    background: rgba(0, 0, 0, 0.349);
    width: 100%;
    height: 100%;
}

.window-register {
    background: white;
    border-radius: 15px;
    margin: 20px auto;
    width: 40%;
    padding: 20px 30px;
}

.window-register .header-register {
    display: flex;
    justify-content: space-between;
}

.window-register .space {
   width: 10%;
}

.window-register .header-register .twitter {
    font-size: 25px;
    color: rgba(29, 161, 242) ;
}

.window-register button {
    background: rgba(29, 161, 242);
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
}

.window-register .tiile {
    font-size: 25px;
    font-weight: bold;
}

.input-content {
    margin-top: 20px;
    background: rgba(245, 248, 250);
    border-bottom: 2px solid rgba(118, 118, 118);
    border-radius: 3px;
    padding: 5px 10px 2px 10px;
    display: flex;
    flex-direction: column;
}

.input-content label {
    color: #657786;
}

.input-content input {
    background: rgba(245, 248, 250);
    border: none;
    padding: 5px;
    font-size: 17px;
}

.input-content input:focus {
 border:none ;
 outline: none;
}

.description {
  margin-top: 20px ;
}

.description label {
    font-weight: bold;
}

.description p {
    color: #657786
} 

.date {
    display: flex;
}

.date .input-content {
   margin: 20px 5px;
}

.date .one {
    width: 200px;
}

.date .two {
    width: 100px;
}

.date .three{
    width: 150px;
}

.date .input-content select{
 background: rgba(245, 248, 250);
 border: none;
 padding: 5px;
 font-size: 17px;
}

.date .input-content select:focus {
    border: none;
    outline: none;
}